.today-header {
    a {
        margin-right: 20px;
        text-decoration: none;
    }
    span {
        font-size: 1rem;
    }
}
.today-body {
    padding: 20px;
}
.fa-ghost {
    font-size: 7rem;
    margin-bottom: 20px;
}
td {
    svg {
        cursor: pointer;
        color: gray;
        border-radius: 50%;
        &.fa-circle:hover {
            color: green;
            background-color: green;
        }
        &.fa-trash-alt:hover {
            color: red;
        }
        &.fa-edit:hover {
            color: #fff;
        }
    }
    &.compact {
        width: 20px;
    }
}